<a href="https://colab.research.google.com/github/Bruno076/Gestao-do-Conhecimento/blob/main/2020_2_Prova_AV2_Gest%C3%A3o_do_Conhecimento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DISCIPLINA: Gestão do Conhecimento	 PROFESSOR(A): Alex Salgado
PERÍODO: 7o. TURNO: noite AVALIAÇÃO:

ALUNO(A): Bruno Legentil

GRAU: VISTO DO PROFESSOR:

# Questão 1 - valor (0,0)

*** Crie um repositório no Github e adicione este arquivo no mesmo


1.1 - Você deve escolher uma base de dados aberta que seja possível treinar um modelo de aprendizagem de máquina Supervisionado de Classificação (assim como o exemplo da Iris e Cancer). A partir desta base de dados, você vai treinar o modelo, fazer previsões e calcular a acurácia do mesmo.
Obs.: Não utilizar nenhuma base de dados usada em aula,  nos trabalhos ou na biblioteca do sklearn.

1.1 - Descreva aqui o que sua base de dados guarda.

1.2 - Após tratada, criar uma pasta no seu GoogleDrive e disponibilizar o link do arquivo de sua base (csv, xlsx, etc) para ser importado no seu código.

In [1]:
googledrive = 'https://drive.google.com/file/d/1eespPg1O5qKBRiSBLT9WWVXBkUNIVkz7/view?usp=sharing'
print(googledrive)

https://drive.google.com/file/d/1eespPg1O5qKBRiSBLT9WWVXBkUNIVkz7/view?usp=sharing

## Criar um código usando o Jupyter Notebook e responder (através de código) às seguintes questões:

# Questão 2 - valor (0,5)

2.1 - Importar os modulos python para machine learn e carregar o arquivo 

** Sugestão se for do tipo xlsx, usar o read_excel do pandas
import pandas as pd
dt = pd.read_excel("meuarquivo.xlsx")

In [62]:
import pandas as pd;
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

st = pd.read_csv('https://raw.githubusercontent.com/yijiaceline/Machine-Learning-Zoo-Classification/master/zoo.csv', index_col=0)

x = st.iloc[:, 0:16]
y = st.iloc[:, 16]

2.2 - Exibir os primeiros registros desta tabela.

In [63]:
st.head()

             hair  feathers  eggs  milk  ...  tail  domestic  catsize  class_type
animal_name                              ...
aardvark        1         0     0     1  ...     0         0        1           1
antelope        1         0     0     1  ...     1         0        1           1
bass            0         0     1     0  ...     1         0        0           4
bear            1         0     0     1  ...     0         0        1           1
boar            1         0     0     1  ...     1         0        1           1

[5 rows x 17 columns]

2.3 - De que se trata esse banco de dados? e que tipo de previsão pode ser feito com ele?

In [ ]:
Consiste em dados de 101 animais de um zoológico. Utilizando 16 variáveis com traços para descrever os animais,
tem como intuito prever a classificação dos animais baseado nessas variáveis.

# Questão 3 - valor (0,5)

Utilizando as terminologias de Machine Learning(features e observações):

3.1 - Quantas "features" têm nessa base de dados?

In [ ]:
16 features

• Nome do animal (Animal Name)
• Cabelo (Hair)
• Penas (Feathers)
• Ovíparos (Eggs)
• Mamíferos (Milk)
• Aves (Airborne)
• Aquático (Aquatic)
• Predador (Predator)
• Dentes (Toothed)
• Espinha dorsal (Backbone)
• Respira (Breathes)
• Venenoso (Venomous)
• Barbatanas (Fins)
• Pernas (Legs)
• Rabo (Tail)
• Doméstico (Domestic)

3.2 - Quantas observações têm nessa base de dados?

In [73]:
st.shape

(101, 17)

# Questão 4 - valor (1,0)

4.1 - Faça uma previsão, usando o algoritmo de LogisticRegression.

In [65]:
logreg = LogisticRegression(max_iter=5000)
logreg.fit(x, y)
logreg.predict(x)

array([1, 1, 4, 1, 1, 1, 1, 4, 4, 1, 1, 2, 4, 7, 7, 7, 2, 1, 4, 1, 2, 2,
       1, 2, 6, 5, 5, 1, 1, 1, 6, 1, 1, 2, 4, 1, 1, 2, 4, 6, 6, 2, 6, 2,
       1, 1, 7, 1, 1, 1, 1, 6, 5, 7, 1, 1, 2, 2, 2, 2, 4, 4, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 2, 7, 4, 1, 1, 3, 7, 2, 2, 3, 7, 4, 2, 1, 7, 4, 2,
       6, 5, 2, 3, 4, 1, 1, 2, 1, 6, 1, 7, 2])

# Questão 5 - valor (1,5)

Usando o método de avaliação de acurácia (Treinar e testar na base de dados inteira/Train test entire model), Calcular a acurácia de cada um dos 3 métodos abaixo.

4.1 - Acurácia usando o algoritmo de KNN (com 1 vizinho, k=1)

In [66]:

knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(x, y)
y_pred = knn.predict(x)
print(metrics.accuracy_score(y, y_pred))

1.0

4.2 - Acurácia usando o algoritmo de KNN (com 5 vizinho, k=5)

In [67]:

knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x, y)
y_pred = knn.predict(x)
print(metrics.accuracy_score(y, y_pred))

0.9405940594059405

4.3 - Acurácia usando o algoritmo de LogisticRegression

In [68]:

logreg = LogisticRegression(max_iter=5000)
logreg.fit(x,y)
y_pred= logreg.predict(x)
print(metrics.accuracy_score(y, y_pred))

0.9900990099009901

4.4 - De acordo com seus resultados anteriores, qual dos 3 métodos é mais eficiente?

In [ ]:
KNN=1 obteve a maior acurácia entre os 3 métodos.

In [ ]:
*** Envie o link do seu Github com essa resposta no Classroom